files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIC7TCCAdUCFD5LkIwpYVojJUNSkKVBKMRY6/tcMA0GCSqGSIb3DQEBCwUAMDMx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24wHhcNMjExMTA0MDA0OTA5WhcNMjIxMTA0MDA0OTA5WjAzMQswCQYDVQQGEwJV
      UzESMBAGA1UECAwJV2lzY29uc2luMRAwDgYDVQQHDAdNYWRpc29uMIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtpRxBsBNdbPP47IdYSDSeSeLSUpCdZaW
      xIZMmLvEc9mlnZrdWg9FCRVwuMsMCgaDOTOBu8nZ2UciSbvLDzJT22F+nmkN2Guv
      dHo2sGD0wC4xkZ8SuXTfhFf6i/2EEfj8TZ12hVqtSy0QEiitYH0oyZw4P2jjjjsv
      aJlU7YuLRWQl9OSi0C0GFZjzYafr/giFXLKT+xYkG3JIOw/Gvzfi+7JxVvlyDm9/
      0C4d8wfn/4jAv1ZTPKanc0Lszjj76F8P+4X7v84++92rYu8OXuw5of6DJhVNf1P1
      8QNYkmZLUyAz7AJFE4mceOLoU5e4gh0KJh+eL7Yq2WHJ8FSSLZFOXwIDAQABMA0G
      CSqGSIb3DQEBCwUAA4IBAQC0hOECcVKDfLn0g9kxIKczjL+HItrSrJx3ESQaI27I
      J9CjcvJDiS3Qh9qQ7RvcYfxnO1RQJL4w7RPGBOxLSzbq3QIqaXfIsWh4T7o85f1y
      xri+3pUw9YgQp+8ek+62ih737N9c0efIoOYafyH8qf1TUVVrn7RJNKYK2HzkTTP8
      +GTtDU4fjRq2fZeF1NGER7aot6mZQTjcPshsvucMus7Oy1xxYQ0K0J7UnPTSWrdK
      G9d55KWFp76XbqshPq8CCCVyAU17cH4PPnaQAc/3bqYOxFSN5qu8G47SE4eNVhA7
      PygserSrYxGj3bgoSI8uvoY2U+7XrdD2S1cvCs5Iw8s2
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAtpRxBsBNdbPP47IdYSDSeSeLSUpCdZaWxIZMmLvEc9mlnZrd
      Wg9FCRVwuMsMCgaDOTOBu8nZ2UciSbvLDzJT22F+nmkN2GuvdHo2sGD0wC4xkZ8S
      uXTfhFf6i/2EEfj8TZ12hVqtSy0QEiitYH0oyZw4P2jjjjsvaJlU7YuLRWQl9OSi
      0C0GFZjzYafr/giFXLKT+xYkG3JIOw/Gvzfi+7JxVvlyDm9/0C4d8wfn/4jAv1ZT
      PKanc0Lszjj76F8P+4X7v84++92rYu8OXuw5of6DJhVNf1P18QNYkmZLUyAz7AJF
      E4mceOLoU5e4gh0KJh+eL7Yq2WHJ8FSSLZFOXwIDAQABAoIBAHuV5R/lwUjfyuNc
      aEibl/xMSRr1+iBwK2OhaG2mA6dLdrBE6HoShe9NJPzg7ChJGj/43mMHkb9iSBJS
      3HNP5LVFvBhsEeQhmCUmqKghKOqBGipw25LPSpDhoIVruB8WQ2oiINzJcS3Gte8k
      u57peVdmuCgrzoQzCbcquvMEFuSDbgJZvhC+F1Rg3zVi/ml6gn0oRnogtK7EEEzJ
      ZMAK/d3KgBs5pG7jm4LLAANSUHjOEijguqNBTIST1i7XwREn8sn3NTOz3Cxilhpc
      6VtEdpprz/yDI2c2jAMrrYqALq+pB5vp4a/QjXXrEET5hxaT5+JgvNZLg6Sz5kQN
      QhJG98ECgYEA2RbVsZfuoBbovqoDI5nI3jJPWaKsxQsB6yU7GcAB7kxk17jOZcWI
      u09SYirohW4TX7MMhbb+7oGfeKYEirGuixwb4h6gOhaeDGqdpwFGZGrYnnmx7k7c
      EpMHucqCYFV3l6gIgNqlxF4pNE4JswujUAOwCWVdsJq+EA3zOocCWyECgYEA104k
      FY5MKs511J6zcpgH4kLGydisUeR3dKGSw5NfZweDlL+0NJRWaeMsUBQrNHPooO5y
      rLcJXEnAVpDpRxNU32roNwhTyjpP3+Xf0uYE+LrUjoe/mJWCmPcjCWVdzvUBB5MU
      VPrG8rAbMFeysFkgBEy1m+rN9eUl6Rn/HEtj+X8CgYEAgObAKF1wgXpY5K2Kg58S
      2GzDFRQ0xiNNFlTbDOUnwFl4H2dKlr99+sqUvlmAC4pa0p48N0F7ih9Jk5fwZnIu
      k8cy/0b0GMnJOtIrnjhxlbqjuSXFcx08K4NGORl35L+a7WAG/IvXlgvbJ4WW2Mt2
      Q1KNOmcIBI89f8bov73etkECgYBEm+37wICdE3WQ75GXbsL0YvsdzyH6Zqd6TxKJ
      qCi6mDZh7ETsjGiNDYtNaV/rMxRqVBHO3/Tnp8jWzQ7JS2u8VkDxaIHq63IQkxwk
      BJCJAmBBmxh+8wXO4NIVaGvgS0qssz3DZraHF39ShF+4um3tcNRefxBqzz6pbVNS
      HOQa2QKBgQCaddwvfYwDKaRM+8r/vlGxTK5FPXiTw02ghELht5z2d8Per7TwrVzL
      qCwPgMoprBbWFIgGt3f/dtJsqBGNKSvZNNHNXiYjMaW/BQXM28tEc7qbqPpnM01t
      I6u55CbHzvpbHS+z00JdbG48GUCXpwDZipG3nEF/FRnJMQSG0r/lhg==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart